{% extends "layout.html" %}
{% block body %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 vertical-center">
        <div class="container">
          <div class="jumbotron">
            <h1 class="display-4">Just a chill room...</h1>
            <p class="lead">This is the chillroom administration panel.</p>
            <hr class="my-4">
            {% if error %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endif %}
            <form method="post" action="">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              
              <button class="btn btn-primary" type="submit">Log in</button> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
