{% extends "dashboard.html" %}
{% block content %}
<h1>Responses</h1>
<div class="alert alert-info">
    Creating and removing responses will soon be possible. In the meantime, please <a href="https://github.com/chillroom/jacr-bot/wiki/Commands#responses">use the existing commands</a>.
</div>
<p>
    Each row represents a <em>response</em>, which is composed of a <em>command</em> and a <em>body</em>.
</p>
<p>
    The cells in the <strong>Commands</strong> columns are the names of the commands that trigger the <em>response</em> of the corresponding row. So a response containing both
    "hello" and "world" in the "command" column would be executed by <code>!hello</code> or <code>!world</code>.
</p>
<p>
    Similarly, the cells in the <strong>Responses</strong> column is the text printed to the chat when the <em>response</em> of the corresponding row is triggered.
    So a response containing both <code>Hello, world!</code> and <code>Howdy!</code> would be randomly selected when the corresponding commands are triggered.
</p>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Commands</th>
            <th scope="col">Responses</th>
        </tr>
    </thead>
    <tbody>
        {% for response in responses %}
        <tr>
            <td>
                <ul>
                    {% for cmd in response[0] %}
                    <li>{{ cmd }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for body in response[1] %}
                    <li>{{ body }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
